.jumbotron
{
    background-image: url("../img/header_img.jpg") ;
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ecf0f1;
    padding-bottom: 20px;
    padding-top: 30px;
}

.mylead
{
    background-color: rgba(52, 73, 94, 0.35);
}

.myfontColor
{
    color: #868e96;
}

#product
{
    background-color: #ecf0f1;
}
.mypadding
{
    padding-top: 40px;
}
.myimage
{
    margin-left: 30%;       
}

.mylist
{
    list-style: none;
}

.mytext
{
    text-align: center;
}

.myMargin
{
     margin-top: 50px;
}

.myPaddingMedia
{
    padding-top: 20px;
    padding: 35px;
}
#price
{
    background-color: #bdc3c7;
    padding-top: 30px;
}

.myCard2
{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
.myCardBody
{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
}

.Business-class
{
    background-image: url("../img/business2.jpg") ;
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
    /* color: #ecf0f1;
    margin-bottom: 0px;*/
}

.my-text
{
    font-size: 12px;
    text-align: justify;
}

.myBottom
{
    padding-bottom: 50px;
}


.business
{
    background: #fff;
    padding: 10px 10px;
    border: 1px solid #ececec;
    box-shadow: 2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition: 3s ease-in-out;
    -webkit-transition: 3s ease-in-out;
    -moz-transition: 3s ease-in-out;

}

.business:hover 
{
    background: #82ca9c;
    color: #fff;
}

.business:hover i
{
    color: #fff;
}
.business:hover h4
{
    color: #fff;
}

.business:hover p
{
    color: #fff;
}

.business i 
{
    font-size: 60px;
    color: #82ca9c;
    margin-bottom: 20px;
}

.business h4
{
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 15px;
}

.business p 
{
    font-size: 12px;
    color: #777777;
}


.myspan
{
    background-color: #ecf0f1;
}

#Contact
{
    padding-top: 50px;
    background-color: whitesmoke;
}

#footer
{
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #34495e;
    color: #ecf0f1;
}

.fixUl
{
    padding-left: 0;
}


